:host {
    display: block;
}

:host .header-top {
    z-index: 10;
    position: relative;
    background: #ffffff;
    height: 100px;
    padding: 25px 0;
}

:host .pc-header {
    position: relative;
    height: 48px;
}

:host .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 222px;
    height: 48px;
    text-indent: -9999em;
    background: url(../assets/pcpp.png) no-repeat;
    background-size: 222px 48px;
    margin: 0;
}

:host nav {
    height: 50px;
    background: #263238;
    z-index: 10;
    position: relative;
}

:host nav .menu-item {
    display: inline-block;
    position: relative;
    min-width: 180px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border-left: 1px solid #78909C;
    border-right: 1px solid #78909C;
    border-collapse: collapse;
    color: #CFD8DC;
}

:host nav .menu-item span {
    position: absolute;
    line-height: 50px;
    top: 0;
    left: 30px;
    color: darkgoldenrod;
    bottom: 0;
}

:host nav .menu-item:hover {
    background: #78909C;
    cursor: pointer;
}

:host .drop-show {
    background-color: #78909C;
    box-shadow: 0 0 36px 20px rgba(0, 0, 0, 0.65), 0 -10px 12px 18px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: absolute;
    top: 150px;
    width: 100%;
    z-index: 1;
}
