:host {
    display: block;
    padding: 30px 0 40px;
    border-top: 1px solid #e3e3e3;
    width: 100%;
}

:host .copyright {
    background: transparent url(../assets/pcpp.png) no-repeat;
    padding-top: 3em;
    background-size: 160px 35px;
    font-size: 14px;
}